* {
  padding: 0;
  margin: 0;
}

#root {
  height: 100%;
  width: 100%;
  background-color: darkslategray;
}

.container {
  margin-top: 5px;
  padding: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: #4ca9c9;
  height: 52vh;
}

.footer {
  padding: 15px;
  background-color: #4ca9c9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5px;
}

button {
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: pink;
  margin: 5px;
}
